<h2></h2>
<ul>
  <li>text: <%= @text %></li>
  <li>whole: <%= @whole %></li>
  <li>optradio: <%= @optradio %></li>
  <li>radio val: <%= @whole_val %></li>
  <li>search_string: <%= @search_string %></li>
  <li>replacement: <%= @replacement %></li>
</ul>
